// Colors
$primary-color : #1cdafe;
$secondry-color: #000000;
$text-color: #4f4f4f;

// Fonts
$fontMain: 'Poppins';


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;



$primary-linear-gardiant: linear-gradient(145deg,#404b57 0%,#1cdafe 100%);